# Dictionary {}
   --> Dictionary are used for storing data in key value pair, keys are uniqe elements while values can be duplicate.

   --> Only immutable datatypes can become the key  for a dictionary while you can use any datatypes for its value.
   --> dictionary are ordered and it do not allow duplicate keys.

In [20]:
dict_1 = {
    1:"One",
    4.0 : "Four",
    "Three" : 3,
    (1,2,3,4) : 10,
    (10,20,30) : [40,50,60],
    4.0 : "for"
}
print(type(dict_1))
dict_1

<class 'dict'>

{1: 'One',
 4.0: 'for',
 'Three': 3,
 (1, 2, 3, 4): 10,
 (10, 20, 30): [40, 50, 60]}

In [5]:
# Defining a dictionary
empty_dict = {}       # deifine empty dictionary
print(empty_dict)

{}

In [6]:
#Defining dictionary with values
dict_1 = {
    1:"One",
    4.0 : "Four",
    "Three" : 3,
    (1,2,3,4) : 10,
    (10,20,30) : [40,50,60],
    4.0 : "for"
}

In [8]:
dict_3 = dict()      # Using a constructor
dict_3

{}

ACcessing elements from dictionary:-
   You can access the valus using keys in dictionary, if the key is not present so it raise key error.
   --> Using get() method also we can get thevalues for their respective key.

In [10]:
dict_1[(1,2,3,4)]

10

In [14]:
dict_1[8.0]

KeyError: 8.0

In [15]:
dict_1.get(1)

'One'

Modify and add new elements in dictionary:-

In [2]:
dict_1 = {
    1:"One",
    4.0 : "Four",
    "Three" : 3,
    (1,2,3,4) : 10,
    (10,20,30) : [40,50,60],
    4.0 : "for"
}
print(type(dict_1))
dict_1

<class 'dict'>

{1: 'One',
 4.0: 'for',
 'Three': 3,
 (1, 2, 3, 4): 10,
 (10, 20, 30): [40, 50, 60]}

In [15]:
dict_1

{1: 'One',
 4.0: 'four',
 (1, 2, 3, 4): 10,
 (10, 20, 30): [40, 50, 60],
 'topic': 'Datatypes'}

In [9]:
dict_1[0] = "four"    #adding new key value pair in dictionary

In [5]:
dict_1["topic"] = "Datatypes"

In [12]:
# Removing the elements from the dictionary
#pop(key)-- it removes specific key value pair, take 1 arguments that is the key.
dict_1.pop("Three")

3

In [14]:
#popitem()- It removes the last key value pair from the dictionary.
dict_1.popitem()

(0, 'four')

In [18]:
#clear()- It removes all the items from the dictionary.
dict_1.clear()

In [19]:
dict_1

{}

In [29]:
dict_1

{1: 'change value',
 4.0: 'for',
 'Three': 3,
 (1, 2, 3, 4): 10,
 (10, 20, 30): [40, 50, 60]}

In [22]:
dict_2 = dict_1.copy() #It creates a deep copy

In [40]:
dict_2

{1: 'first pair',
 4.0: 'for',
 'Three': 3,
 (1, 2, 3, 4): 10,
 (10, 20, 30): [40, 50, 60]}

In [24]:
dict_2[1] = "first pair"

In [25]:
dict_3 = dict_1   #It creates a shallow copy.

In [28]:
dict_3[1] = "change value"

In [31]:
lst1 = ['a', 'b', 'c']
lst2 = lst1
lst1[0] = "hosjf"
lst2[1] = "bat"
lst1

['hosjf', 'bat', 'c']

In [32]:
# Iterating all the elements of dictionary
for i,j in dict_2.items():
    print(i, end = "-----")
    print(j)

1-----first pair
4.0-----for
Three-----3
(1, 2, 3, 4)-----10
(10, 20, 30)-----[40, 50, 60]

In [36]:
# keys() - it is used to get list of all the keys present in the dictionary.
lst_key =list(dict_2.keys())
lst_key
# Type(lst_key)

[1, 4.0, 'Three', (1, 2, 3, 4), (10, 20, 30)]

In [38]:
# values() - It is used to get the list of all the values present in the dictionary.
lst_values = list(dict_2.values())
lst_values

['first pair', 'for', 3, 10, [40, 50, 60]]

In [42]:
# update() - It adds elements of other dictyionary to the current dictionary.
dict_2

{1: 'first pair',
 4.0: 'for',
 'Three': 3,
 (1, 2, 3, 4): 10,
 (10, 20, 30): [40, 50, 60]}

In [44]:
dict_3 = {"class" : "python", "topic" : "datatyopes", "session" : 5}
dict_3.update(dict_2)
dict_3

{'class': 'python',
 'topic': 'datatyopes',
 'session': 5,
 1: 'first pair',
 4.0: 'for',
 'Three': 3,
 (1, 2, 3, 4): 10,
 (10, 20, 30): [40, 50, 60]}

Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [49]:
dict_1=dict()
for i in range(1,16):
    dict_1[i]=i**2

dict_1

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [47]:
number = int(input("Please enter the Maximum Number : "))
myDict = {}

for x in range(1, number + 1):
    myDict[x] = x ** 2
    
print("\nDictionary = ", myDict)

Please enter the Maximum Number : 16

Dictionary =  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256}

In [48]:
number = int(input("Please enter the Maximum Number : "))

myDict = {x:x ** 2 for x in range(1, number + 1)}
    
print("\nDictionary = ", myDict)

Please enter the Maximum Number : 16

Dictionary =  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256}