# Python Sets 
Sets are a collection of elements. sets are unordered therefore imdexing and slicing is not applicable.
  -It is defined using {} , It does not allow duplicates.
     It can have only immutable datatypes in it.
      sets are mutable, we can add or remove items from it.
       sets can also be used to perform mathematical set operations like union and interesection.

In [4]:
#Defining a set
sets = {1,2,3,4,5,5,6,(1,2,3,4)}
type(sets)

set

In [7]:
# Defining an empty set
set2 = set()
set2
type(set2)

set

In [26]:
# sets do not allowduplicates values.
sets = {1,2,3,3,4,5,5,6,7,7,7,8,9}
print(sets)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [10]:
#sets are unordered, we ccannot do indexing in sets
sets[2]

TypeError: 'set' object is not subscriptable

In [11]:
#sets are unordered, we ccannot do slicing in sets
sets[1:4]

TypeError: 'set' object is not subscriptable

# Modifdying a sets in Python:
we cannot access or modify an elements in a set using indexing. but we can add a single elements using the add() method, and we can add multiple elements using update method.

In [12]:
sets.add(12)
sets

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12}

In [18]:
sets.update({11,22,33})
sets

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 22, 33}

In [22]:
# Removing an elements from the set.
sets.remove(1)
sets

KeyError: 1

In [23]:
# Removing an elements from the set.
sets.discard(2)
sets

{3, 4, 5, 6, 7, 8, 9, 11, 12, 22, 33}

In [24]:
sets.clear()      # Used to make a set empty

In [25]:
sets

set()

In [27]:
sets.pop()   # Removes the first elements

1

In [28]:
sets

{2, 3, 4, 5, 6, 7, 8, 9}

In [30]:
# Union of two sets
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
# set1 | set2
set2.union(set1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [32]:
#Intersection of two sets
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
# set1.intersection(set2)
set1 & set2

{4, 5}

In [36]:
# Set difference
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set1 - set2

{1, 2, 3}

In [37]:
# Set difference
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set2 - set1

{6, 7, 8}

In [38]:
# symmetric difference between two sets
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set1 ^ set2

{1, 2, 3, 6, 7, 8}